@inherits LayoutComponentBase
<div class="popup-layout">
    <header class="popup-header px-3 py-2">
        <span class="popup-title">🔷 Blazor Extension</span>
    </header>

    <main class="popup-body px-3 py-2">
        @Body
    </main>
</div>
